
body {
    font-family: 'Nunito', sans-serif;
    background-color: lightgray;
    background-image: url("stripes.jpg");
    background-size: cover;

}

header {
    max-width: 70%;
    margin:auto;
    text-align: center;    
}

#img-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: white;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    }

#img-div figcaption {
    margin: auto;
    padding-top: 10px;
    }

#tribute-info h2{
    text-align: center;
    padding: 30px;
}

#tribute-info li {
    max-width: 50%;
    margin: auto;
    padding: 0.8em;
}

#further-info  {
    text-align: center;
}